.game-background-style{
    background-color: #f4f4f4;
    background-image: url(./images/gamepage_wallpaper.jpg);
    background-size: 100% 100%;
}

.game-layout{
    border-radius: 5px;
    height: 670px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    
}

.game-profile{
    margin: auto;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
    background-color: #FFFFFF;
    background-image: url(../../assets/images/8.jpg);
    background-size: 100% 100%;
}

.game-profile img{
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
}

.game-profile-name{
    margin: auto;
    height: 280px;
    border-radius: 5px;
    top:10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.game-play-button-layout{
    margin: auto;
    top:30px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: #3C4852;
}


.game-play-button{
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 60%;
    color:rgb(230, 230, 230);
    background-color: #ffffff60;
}

.game-play-button:hover{
    box-shadow: inset 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}



.game-room-notice{
    margin: auto;
    height: 50px;
    border-radius: 10px;
    border:2px solid lightgray;
}



.game-notice-layout{
    display: flex;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(34, 34, 34);;
}


.game-profile-layout{
    border-radius: 5px;
    height: 740px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    top:-70px;
    background-color: rgb(34, 34, 34);
}


.notice-box{
    width: 96%;
    bottom: 0;
    top:0;
    left:0;
    right: 0;
    margin: auto;
}


.game-room-layout{
    margin: auto;
    height: 550px;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 10px;
    gap:15px;
    background-color: #30393D;
}

.game-room-layout::-webkit-scrollbar{
    display: none;
}



.game-search-layout{
    margin: auto;
    height: 50px;
    border-radius: 5px;
    border:1px solid lightgray;
    padding: 10px;
    background-color: #F6F4EC;
    margin-bottom: 10px;
}




