.sb-rjm1 {
    margin-top: 70px;
}

.form_row{
    font-weight: bold;
    margin-left: 10%;
    font-size:30px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    
}
  
.main-titles h1{
    position: absolute;
    display: flex;
    color: #255946;
    top: -25px;
    left: -2px;

}
.title h1{
    height: 20px ;
    display: flex;
    position: relative;
    color: #255946;
}
   
.pib-rjm1 {
    width: 300px;
    height: 300px; 
}
  
.sideber-item {
    background-color: #FFF;
    border-radius: 5px;
    flex-grow: 1;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.form_box{
    width: 200px;
    font-weight: bold;
    font-size: 30px;
    white-space: nowrap; 
    flex: 1; 
    margin-right: 20px; 
}
  
.image-container {
    width: 50%;
    height: 70%;
    position: relative;
}
  
#ibox {
    border-radius: 5px;
    width: 40%;
    height: 100%;
}

.mypage-bulletinBoard-layout{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap:20px 10px;
    place-items: center center;
}

.mypage-bulletinBoard-container{
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
    margin: 85px;
    text-align: center;
}

.mbi1{
    background-image: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg);
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 58%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.mbi2{
    border-radius: 20px;
    border:2px solid #00000075;
    font-weight: 600;
    margin-top: 15px;
    height: 10%;
}

.mbi3{
    border-radius: 20px;
    border:2px solid #00000075;
    margin-top: 4px;
    height: 10%;
}

.mypage-youtubeBoard-layout{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap:20px 10px;
    place-items: center;
}

.mypage-youtube-container{
    border:5px solid #B3AC87;
    background-color: black;
    border-radius: 10px;
    height: 98%;
    width: 90%;
    cursor: pointer;
}

.detail-button{
    position: relative;
    text-align: center;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.profile-edit-button-container {
    position: absolute;
    top: 20px; 
    right: 20px; 
    z-index: 999;
}

.profile-edit-button {
    padding: 8px 20px;
    background-color: #1BBC9B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-edit-button:hover {
    background-color: #1ed2ad;
}
