@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

:root {
  --green: #1BBC9B;
  --blue: #94C2ED;
  --orange: #E38968;
  --gray: #92959E;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #E3F2FD;
  font: 14px/20px "Poppins", Arial, sans-serif; /* Change font to Poppins */
  color: #434651; /* Adjust text color */
}

.c_container {
  margin: 0 auto;
  width: 50%; /* Adjust width to 100% */
  display: flex; /* Add flex display */
  
}

.people-list {
  width: 350px;
  /* float: left; Remove float */
  border: 1px solid var(--green); /* Add border */
  border-radius: 5px 0px 0px 5px; /* Add border-radius */
  padding-bottom: 8px;
  margin-left: -1px;
}

.people-list .search {
  padding: 20px;
}

.people-list input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: black;
  background: #e2e3e9;
  width: 95%;
  font-size: 14px;
  
}

.people-list .fa-search {
  position: relative;
  left: -25px;
}

.people-list ul {
  padding: 20px;
  height: 510px; /* Adjust height to match the chatbot */
  list-style: none;
}

.people-list ul li {
  padding-bottom: 20px;
  margin-left: 20px;
}

.people-list img {
  float: left;
}

.people-list .about {
  float: left;
  margin-top: 8px;
  padding-left: 8px;
}

.people-list .status {
  color: var(--gray);
}

.m-chat {
  flex-grow: 1; /* Allow chat to grow and take remaining space */
  background: #fff;
  color: #434651;
  border: 1px solid var(--green); /* Add border */
  border-radius: 0px 5px 5px 0px;
  margin-left: -1px;
}

.m-chat .chat-header {
  padding: 16px 0; /* Adjust padding */
  border-bottom: 1px solid var(--green); /* Adjust border color */
}

.m-chat .chat-header img {
  float: left;
  margin-left: 20px;
}

.m-chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.m-chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}


.m-chat .chat-header .chat-num-messages {
  color: var(--gray);
}

.m-chat .chat-header .fa-plus-square {
  float: right;
  color: #0051ff;
  font-size: 30px;
  margin-top: 15px;
  margin-right: 30px;
  cursor: pointer;
  
}

.m-chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}

.chat-history ul{
  list-style: none;

}



.m-chat .chat-history .message-data {
  margin-bottom: 15px;
}

.m-chat .chat-history .message-data-time {
  color: lighten(var(--gray), 8%);
  padding-left: 6px;
}

.m-chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  max-width: 50%;
  position: relative;
}

/*
.m-chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: var(--green);
  border-width: 10px;
  margin-left: -10px;
}
*/

.m-chat .chat-history .my-message {
  background: var(--green);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.m-chat .chat-history .other-message {
  background: var(--blue);
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.m-chat .chat-history .other-message:after {
  border-bottom-color: var(--blue);
  left: 93%;
}

.m-chat .chat-message {
  padding: 30px;
  border: 1px solid var(--green);
  margin: -1px;
  border-radius: 0px 0px 5px 0px;
  
}

.m-chat .chat-message textarea {
  width: 100%;
  border: 1px solid black;
  padding: 10px 20px;
  font: 20px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.m-chat .chat-message textarea::placeholder{
  color: #ccc;
}

.m-chat .chat-message button {
  float: right;
  color: var(--blue);
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}

.m-chat .chat-message button:hover {
  color: darken(var(--blue), 7%);
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: var(--green);
}

.offline {
  color: var(--orange);
}

.me {
  color: var(--blue);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: flex;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.m-chat{
  width: 370px;
}