.game-profile-name{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 15px 5px;
    place-items: center;
    height: 53%;
    background-color: #3C4852;
}

.game-profile-name div{
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.268);
    height: 25%;
    width: 90%;
    border-radius: 5px;
    background-color:#30393D;
    display: flex;
    line-height: 50px;
    place-items: center;
    font-weight: bold;
    color: white;
}

.game-profile-name span:nth-child(1){
    font-size: 16px;
    margin-left: 15px;
    width: 40%;
    height: 80%;
    line-height: 40px;
    font-weight: bold;
    font-family: Lobster;
    border-right: 2px solid rgba(0, 0, 0, 0.261);
    color: rgb(190, 190, 190);
}


.game-profile-name span:nth-child(2){
    padding-left: 10px;
    color: rgb(116, 116, 116);
}